$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$width: 325px;
$border-radius: 4px;

$light-gray: #f1f3f4;
$dark-gray: #2d2d2d;
$bright-blue: #2684FF;

.datepicker-wrapper {
  display: flex;
  margin: 5px 0 0;
}

.datepicker {
  position: absolute;
  font-family: $font-family;
  font-size: 13px;
  width: $width;
  box-sizing: border-box;
  background: white;
  margin-top: 10px;
  padding: 0 0 15px;
  border-radius: $border-radius;
  box-shadow: 0 1px 7px rgba(27, 31, 35, 0.35);
  overflow: hidden;
  z-index: 999999;

  &.time-enabled {
    padding-bottom: 40px;
  }

  h3 {
    font-family: $font-family;
    text-align: center;
    height: 35px;
    align-items: center;
    font-size: 16px;
    background: $bright-blue;
    padding: 10px 0px;
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-between;

    span {
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.datepicker-container {
  position: relative;

  .datepicker-input {
    font-family: $font-family;
    font-size: 12px;
    width: 100%;
    margin: 0 0 10px;
    padding: 10px;
    box-sizing: border-box;
    background: $light-gray;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    transition: all 0.15s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:focus-within {
      background: white;
      border: 2px solid $bright-blue;
    }

    &:read-only {
      outline: none;
    }
  }

  i.fa-calendar {
    position: absolute;
    top: 12px;
    right: 13px;
    font-size: 14px;
    z-index: 1;
    color: $dark-gray;
  }
}

.datepicker-timepicker {
  text-align: center;
  box-sizing: border-box;
  color: steelblue;
  border-top: 1px solid darken(#f7f7f7, 5%);
  transition: all .15s;
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 80px;

  &:hover {
    background: darken(#f7f7f7, 5%);
  }

  .datepicker-timepicker-header {
    font-size: 14px;
    line-height: 28px;
    color: $bright-blue;
    height: 40px;
    padding: 5px 0;
    box-sizing: border-box;
    text-align: center;
  }

  &.visible {
    background: white;
    bottom: 0px;

    .datepicker-timepicker-header {
      font-weight: 500;
      color: $dark-gray;
      background: $light-gray;
      height: 36px;

      span {
        line-height: 24px;
        text-transform: uppercase;
      }
    }
  }

  .header-time {
    display: inline-block;
    margin-left: 5px;
  }

  .timepicker-inputs {
    font-family: $font-family;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 40px;

    .input-row {
      display: flex;
      align-items: baseline;
      width: 150px;
      margin: auto;
      padding-left: 45px;
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }

    .input-minutes {
      margin-right: 5px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    input, select {
      font-family: $font-family;
      font-size: 18px;
      color: $bright-blue;
      border: 0px;
      background: none;
      text-align: right;
      -webkit-appearance: none;
      -moz-appearance: none;

      &:focus {
        outline: none;
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 30px;
    }
  }
}

.datepicker-day-headers {
  font-weight: bold;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  padding: 15px 5px 5px;
  color: $dark-gray;
  opacity: 0.5;

  span {
    text-align: center;
    display: block;
    width: 100%;
  }
}

.month-switcher {
  font-size: 20px;
  cursor: pointer;

  &.back {
    padding-left: 20px;
  }

  &.forward {
    padding-right: 20px;
  }
}

.datepicker-divider {
  text-align: center;
  display: block;
  width: 20px;
  margin-right: 10px;
  line-height: 15px;
}

.datepicker-weekrow {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.datepicker-monthview {
  padding: 5px;
}

.day-block {
  color: $dark-gray;
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: $border-radius;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  transition: background 0.15s ease-in-out;

  &:hover {
    background: $light-gray;
  }

  &.in-month {
    opacity: 1;
  }

  &.today {
    font-weight: bold;
    border: 1px solid $dark-gray;
  }

  &.selected {
    font-weight: bold;
    background: $bright-blue;
    color: white;
    border: 1px solid $bright-blue;
  }

  &.disabled {
    opacity: 0.3;
    cursor: initial;

    &:hover {
      background: none;
    }
  }
}
