.datepicker-wrapper {
  display: flex;
  margin: 5px 0 0; }

.datepicker {
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  width: 325px;
  box-sizing: border-box;
  background: white;
  margin-top: 10px;
  padding: 0 0 15px;
  border-radius: 4px;
  box-shadow: 0 1px 7px rgba(27, 31, 35, 0.35);
  overflow: hidden;
  z-index: 999999; }
  .datepicker.time-enabled {
    padding-bottom: 40px; }
  .datepicker h3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    height: 35px;
    align-items: center;
    font-size: 16px;
    background: #2684FF;
    padding: 10px 0px;
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-between; }
    .datepicker h3 span {
      font-weight: bold;
      font-size: 16px; }

.datepicker-container {
  position: relative; }
  .datepicker-container .datepicker-input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    width: 100%;
    margin: 0 0 10px;
    padding: 10px;
    box-sizing: border-box;
    background: #f1f3f4;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    transition: all 0.15s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .datepicker-container .datepicker-input:focus-within {
      background: white;
      border: 2px solid #2684FF; }
    .datepicker-container .datepicker-input:read-only {
      outline: none; }
  .datepicker-container i.fa-calendar {
    position: absolute;
    top: 12px;
    right: 13px;
    font-size: 14px;
    z-index: 1;
    color: #2d2d2d; }

.datepicker-timepicker {
  text-align: center;
  box-sizing: border-box;
  color: steelblue;
  border-top: 1px solid #eaeaea;
  transition: all .15s;
  cursor: pointer;
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 80px; }
  .datepicker-timepicker:hover {
    background: #eaeaea; }
  .datepicker-timepicker .datepicker-timepicker-header {
    font-size: 14px;
    line-height: 28px;
    color: #2684FF;
    height: 40px;
    padding: 5px 0;
    box-sizing: border-box;
    text-align: center; }
  .datepicker-timepicker.visible {
    background: white;
    bottom: 0px; }
    .datepicker-timepicker.visible .datepicker-timepicker-header {
      font-weight: 500;
      color: #2d2d2d;
      background: #f1f3f4;
      height: 36px; }
      .datepicker-timepicker.visible .datepicker-timepicker-header span {
        line-height: 24px;
        text-transform: uppercase; }
  .datepicker-timepicker .header-time {
    display: inline-block;
    margin-left: 5px; }
  .datepicker-timepicker .timepicker-inputs {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 40px; }
    .datepicker-timepicker .timepicker-inputs .input-row {
      display: flex;
      align-items: baseline;
      width: 150px;
      margin: auto;
      padding-left: 45px; }
    .datepicker-timepicker .timepicker-inputs input[type='number'] {
      -moz-appearance: textfield; }
    .datepicker-timepicker .timepicker-inputs .input-minutes {
      margin-right: 5px; }
    .datepicker-timepicker .timepicker-inputs input::-webkit-outer-spin-button,
    .datepicker-timepicker .timepicker-inputs input::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    .datepicker-timepicker .timepicker-inputs input, .datepicker-timepicker .timepicker-inputs select {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 18px;
      color: #2684FF;
      border: 0px;
      background: none;
      text-align: right;
      -webkit-appearance: none;
      -moz-appearance: none; }
      .datepicker-timepicker .timepicker-inputs input:focus, .datepicker-timepicker .timepicker-inputs select:focus {
        outline: none; }
    .datepicker-timepicker .timepicker-inputs select {
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 30px; }

.datepicker-day-headers {
  font-weight: bold;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  padding: 15px 5px 5px;
  color: #2d2d2d;
  opacity: 0.5; }
  .datepicker-day-headers span {
    text-align: center;
    display: block;
    width: 100%; }

.month-switcher {
  font-size: 20px;
  cursor: pointer; }
  .month-switcher.back {
    padding-left: 20px; }
  .month-switcher.forward {
    padding-right: 20px; }

.datepicker-divider {
  text-align: center;
  display: block;
  width: 20px;
  margin-right: 10px;
  line-height: 15px; }

.datepicker-weekrow {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between; }

.datepicker-monthview {
  padding: 5px; }

.day-block {
  color: #2d2d2d;
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  transition: background 0.15s ease-in-out; }
  .day-block:hover {
    background: #f1f3f4; }
  .day-block.in-month {
    opacity: 1; }
  .day-block.today {
    font-weight: bold;
    border: 1px solid #2d2d2d; }
  .day-block.selected {
    font-weight: bold;
    background: #2684FF;
    color: white;
    border: 1px solid #2684FF; }
  .day-block.disabled {
    opacity: 0.3;
    cursor: initial; }
    .day-block.disabled:hover {
      background: none; }
